.formOne {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-content: space-between;
}
.bCof {
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
}
.container {
  animation: load 0.75;
  background-color: beige;
}

.question {
  display: flex;
  flex-direction: column;
}

.question h6 {
  text-align: center;
}
.question table {
  text-align: center;
}
@keyframes load {
  from {
    opacity: 0;
    transform: translateX(10vmax);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
